
.active1 {
    background-color: lightblue;
    color: darkblue;
}

.active2 {
    background-color: lightgreen;
    color: darkgreen;
}

#image-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}


#image-container img {
    margin: 10px 0;
}


button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}

